.container {
  height: 60vh;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: fantasy;
  font-weight: 100;
  font-size: 40px;
  letter-spacing: 2px;
  margin: 0;
  color: #133089;
}

input {
  height: 32px;
  width: 40vw;
  border-radius: 6px;
  border: 1px solid hsl(212, 100%, 95%);
  outline: 0;

  &:focus {
    border: 1px solid hsl(212, 100%, 100%);
  }
}

code {
  display: block;
  margin-top: 18px;
}
