<div class="container">
  <h1>DEMO</h1>

  <h3>ngx-international-number</h3>

  <form [formGroup]="fg">
    <input
      type="tel"
      formControlName="phoneNumber"
      international-number
      defaultCountry="PK"
      placeholder="+923114444444"
      (countrySelected)="countryChanged($event)"
      required
    />
  </form>

  <div class="value">
    <span>Value:</span>
    <code> {{ fg.value | json }} </code>
  </div>

  <div class="isValid">
    <span>Is Form Valid?: </span>
    <code [ngStyle]="{ color: fg?.valid ? 'green' : 'red' }">{{
      fg?.valid?.toString() | titlecase
    }}</code>
  </div>
</div>
