<div class="container">
  <h1>DEMO</h1>

  <h3>ngx-international-number</h3>

  <form [formGroup]="fg">
    <input
      type="tel"
      formControlName="phoneNumber"
      international-number
      defaultCountry="PK"
      placeholder="+923114444444"
      (countrySelected)="countryChanged($event)"
      required
    />

    <code>
      Value: {{ fg.value | json }} <br />
      Errors: {{ fg.controls.phoneNumber.errors | json }} <br />
      Is Form Valid?:
      <span [ngStyle]="{ color: fg?.valid ? 'green' : 'red' }">{{
        fg?.valid
      }}</span>
    </code>
  </form>
</div>
